.navBar{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    text-align: center;
    top:0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #0a0a0a ,#0b5cff);
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.navBar h3 {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding-inline: 20px;
    font-size: 1.5rem;
    color: #fff;
}

.navBar h3 svg{
    color: #ff7142 ;
    font-size: 2.4rem;
}
.navBar svg{
    color: #fff;
}


/* History component css */
.historyBox{
    margin-bottom: 1rem;
    height: calc(100% - 54px);
}

.cardView{
    background: #fff !important;
    border-radius: 1.25rem !important;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2) ;
    transform: scale(1);
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 0.625rem;


}

.cardView:hover{
    border: 0.01rem solid #0b5cff; 
    box-shadow: 0 0.75rem 3rem rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}


.bgImg{
    display: flex;
    justify-content: center;
}


